<form
  class="form-login needs-validation"
  autocomplete="off"
  [formGroup]="formLogin"
  (ngSubmit)="onSubmitInterno()"
>
  <div class="form-group form-group-custom">
    <label class="m-0 mb-1">Usuario de red*</label>
    <input
      type="text"
      formControlName="user"
      class="form-control sinFlechas"
      placeholder="* Usuario de red"
      placement="right"
      min="1"
      [class.is-invalid]="getUser"
    />
    <div
      *ngIf="getUser"
      class="invalid-feedback animate__animated animate__fadeIn animate__fast"
    >
      <span class="badge badge-pill badge-danger d-block mt-2 text-left"
        >USUARIO ES REQUERIDO</span
      >
    </div>
    <div
      *ngIf="f.user.touched && f.user.errors?.min"
      class="invalid-feedback animate__animated animate__fadeIn animate__fast"
    >
      <span class="badge badge-pill badge-danger d-block mt-2 text-left">
        DEBES INGRESAR MÍNIMO 6 CARACTERES</span
      >
    </div>
    <div
      *ngIf="f.user.touched && f.user.errors?.max"
      class="invalid-feedback animate__animated animate__fadeIn animate__fast"
    >
      <span class="badge badge-pill badge-danger d-block mt-2 text-left">
        DEBES INGRESAR MÁXIMO 15 CARACTERES</span
      >
    </div>
  </div>
  <div class="form-group form-group-custom">
    <label class="m-0 mb-1">Contraseña*</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      placeholder="* Digite Contraseña"
      placement="right"
      [class.is-invalid]="getPassword"
    />
    <div
      *ngIf="getPassword"
      class="invalid-feedback animate__animated animate__fadeIn animate__fast"
    >
      <span
        *ngIf="f.password.errors.required"
        class="badge badge-pill badge-danger d-block mt-2 text-left"
      >
        CONTRASEÑA ES REQUERIDA</span
      >
    </div>
    <div
      *ngIf="f.password.touched && f.password.errors?.minlength"
      class="invalid-feedback animate__animated animate__fadeIn animate__fast"
    >
      <span class="badge badge-pill badge-danger d-block mt-2 text-left">
        DEBES INGRESAR MÍNIMO
        {{ f.password.errors.minlength.requiredLength }} CARACTERES</span
      >
    </div>
  </div>
  <div class="form-group form-group-custom">
    <label class="m-0 mb-1"
      >* Los campos que tienen asterisco son obligatorios.</label
    >
  </div>
  <div class="form-group m-0">
    <button
      [disabled]="utilitiesService.loading"
      class="btn btn-credits btn-signin btn-block mt-1 mb-1"
    >
      <span
        *ngIf="utilitiesService.loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Ingresar
    </button>
  </div>
</form>
