<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<div class="container position-relative">
  <div class="navbar-welcome pt-2 pb-2">
    <div class="row mr-0 ml-0 d-flex flex-row justify-content-between">
      <div class="content-welcome col-sm-6 p-0 pt-2 pb-2">
        <div class="card">
          <div class="row no-gutters">
            <div *ngIf="!showButtons && !utilitiesService.currentUser" class="card-body p-0 pt-1 pb-1">
              <h2 class="text-education col-md-12 p-0">
                Bienvenido a Mi Confa
              </h2>
              <p class="form-inline col-md-12 mb-0 p-0">
                Queremos que accedas de manera ágil y oportuna a nuestros
                servicios.
              </p>
              <p class="form-inline col-md-12 mb-0 p-0">
                Vive aquí tu experiencia Confa.
              </p>
            </div>

            <div class="d-flex flex-row justify-content-start p-0 pt-3 pb-3">
              <div class="p-0 pr-1" *ngIf="showButtons">
                <button class="btn-back-login btn" (click)="backPage()">
                  <i class="fas fa-arrow-left"></i> Atrás
                </button>
              </div>
              <div class="p-0 pl-1" *ngIf="login">
                <button class="btn-logout btn" (click)="logout()">
                  Salida segura
                </button>
              </div>
            </div>
          </div>
          <!-- <h3 class="red">Ambiente de pruebas</h3> -->
        </div>
      </div>

      <div class="content-user col-sm-6 p-0 pt-2 pb-2">
        <div *ngIf="login && userOrCompany" class="card">
          <div class="no-gutters d-flex flex-row justify-content-end">
            <div
              class="d-flex justify-content-center align-items-center animate__animated animate__fadeIn animate__fast"
            >
              <img src="assets/img/co.png" class="card-img m-2" alt="CO" />
            </div>
            <div>
              <div class="card-body p-0 pl-2 pr-0">
                <p class="m-0 font-weight-bold">Afiliado</p>
                <h4 class="text-education-h4 m-0">
                  {{ utilitiesService.fullNameUser }}
                </h4>
                <p class="card-text m-0 font-weight-bold">
                  <span *ngIf="userOrCompany.document">Documento:</span>
                  <span *ngIf="userOrCompany.companyNit">NIT.</span>
                  {{ utilitiesService.documentUser }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Debe de ir dentro del router-outlet para que detecte las rutas activatedRouter -->
<!-- Modal Content -->
<app-modal-content></app-modal-content>
