<app-welcome></app-welcome>
<section class="fondo">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5  mb-4">
        <div class="card-login card d-flex flex-column align-items-center align-items-stretch mt-4 mb-4"
          [ngClass]="tamano ? 'margenModal' : 'm-0'">
          <div class="collapse show collapseForgotPassword collapseRegister collapseTipoDocumento">
            <div class="card-body card-body-login animated fadeIn fast">
              <h3 class="card-title card-title-login mb-4">
                Ingresa los datos de la postulación
              </h3>

              <div class="login-content">
                <app-card-login></app-card-login>

                <div class="form-group m-0">
                  <button [hidden]="true" class="btn btn-credits1 btn-block mt-1 mb-1" data-toggle="collapse"
                    data-target=".collapseTipoDocumento" aria-expanded="false" aria-controls="collapseTipoDocumento"
                    (click)="modal()">
                    tipo Documentp
                  </button>
                </div>
              </div>
              <p class="policies m-0 pt-2">
                Al acceder estarás aceptando la
                <a href="javascript:;" data-toggle="modal" data-target="#modalPoliticaTratamientoDatos">Autorización de
                  tratamiento de datos</a>
                y las
                <a href="javascript:;" data-toggle="modal" data-target="#modalCondicionesUsoServicio">Condiciones de Uso
                  del Servicio</a>
              </p>
            </div>
          </div>

          <div class="collapse collapseForgotPassword">
            <div class="card-body card-body-login animated fadeIn fast">
              <div class="card-title card-title-login mb-4 forgot">
                Reestablece tu contraseña
              </div>
              <p class="card-text paragraph mb-4">
                Para restablecer tu contraseña, ingresa el correo electronico
                con el que te registraste
              </p>
              <div class="login-content margen">
                <app-card-forgot-password></app-card-forgot-password>
                <div class="form-group m-0">
                  <button class="btn btn-outline-credits btn-block mt-1 mb-1" data-toggle="collapse"
                    data-target=".collapseForgotPassword" aria-expanded="false" aria-controls="collapseForgotPassword"
                    (click)="modal()">
                    Volver
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="collapse collapseTipoDocumento py-4">
            <div class="card-body card-body-login animated fadeIn fast">
              <div class="card-title card-title-login mb-4 forgot">
                Ingresa los datos de la postulación
              </div>
              <div class="login-content margen">
                <app-card-tipo-documento></app-card-tipo-documento>
                <div class="form-group m-0">
                  <button [hidden]="true" class="btn btn-credits btn-block mt-1 mb-1" data-toggle="collapse"
                    data-target=".collapseTipoDocumento" aria-expanded="false" aria-controls="collapseTipoDocumento"
                    (click)="modal()">
                    Ingresar
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="collapse collapseRegister">
            <div class="card-body card-body-login animated fadeIn fast">
              <h3 class="card-title card-title-login mb-4">
                Solicita tu usuario
              </h3>
              <p class="card-text paragraph mb-4">
                Ingresa el número de documento para iniciar el proceso de
                registro.
              </p>
              <div class="login-content">
                <app-card-register (formValidateEmitter)="processFormValidate($event)"
                  (userEmitter)="processUser($event)" (preguntasEmitter)="processPreguntas($event)"></app-card-register>
                <div class="form-group m-0">
                  <button class="btn btn-outline-credits btn-block mt-1 mb-1" data-toggle="collapse"
                    data-target=".collapseRegister" aria-expanded="false" aria-controls="collapseRegister"
                    (click)="modal()">
                    Volver
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-7 d-flex justify-content-center">
        <div class="m-0 d-flex flex-column justify-content-center">
          <div class="d-flex flex-column justify-content-center pl-0 pr-0 mb-3">
            <h4 class="card-title-message ">
              En este formulario podrás:
            </h4>
            <hr class="card-title-message-hr">
            <ul>
              <li class="card-text">
                Consultar el valor del copago del computador de acuerdo a tu categoría
              </li>
              <li class="card-text">
                Realizar tu pago en línea
              </li>
            </ul>
          </div>
          <div class="d-flex flex-column justify-content-center pl-0 pr-0">
            <h4 class="card-title-message">
              Antes de realizar el pago debes tener en cuenta lo siguiente:
            </h4>
            <hr class="card-title-message-hr">
            <ul>
              <li class="card-text">
                Debes ser ganador del subsidio de computadores. Confa te notificará si resultaste beneficiario al correo registrado en la postulación.
              </li>
              <li class="card-text">
                Debes presentar previamente el certificado escolar.
              </li>
            </ul>
          </div>

          <!-- <div class="d-flex flex-column justify-content-center pl-0 pr-0">
            <h4 class="card-title-message mb-5">
              Antes de iniciar debes tener en cuenta lo siguiente:
            </h4>
            <ul>
              <li class="card-text">
                Debes encontrarte
                <b>registrado en Servicios en línea de Confa.</b>
              </li>
              <li class="card-text">
                Debes haber realizado el registro facial y de palma en uno de
                nuestros
                <a
                  href="https://confa.co/personas/contacto/#1544655771991-5460a8cb-0b52fec1-8fb1"
                  style="color: #fff"
                >
                  <u>puntos de atención presencial.</u></a
                >
              </li>
              <li class="card-text">
                Recuerda tener a mano los datos de tú cuenta bancaria vigente.
                (No aplica Nequi, Daviplata o cooperativas).
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!--===================================== MODALES =======================================-->

<div class="modal fade modal-popup-login" id="modalPopupLogin" tabindex="-1" role="dialog"
  aria-labelledby="modalPopupLoginLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content">
      <div class="modal-header login-header" id="modalPopupLoginLabel">
        <div class="col-md-11">
          <div class="d-flex align-items-center justify-content-center">
            <p class="m-0 pl-4 pr-2">
              Ingresa para disfrutar de todos nuestros servicios
            </p>
          </div>
        </div>
        <button type="button" class="close btn-close-popup-login" data-dismiss="modal" aria-label="Close"
          (click)="cleanForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pr-5 pl-5">
        <div class="collapse show collapseForgotPassword-modal collapseRegister-modal">
          <div class="animate__animated animate__fadeIn animate__fast">
            <div class="login-content">
              <app-card-login (formLoginEmitter)="processFormLogin($event)"></app-card-login>
              <div class="form-group m-0">
                <button class="btn-forgot-password-modal btn btn-block mt-1 mb-1" data-toggle="collapse"
                  data-target=".collapseForgotPassword-modal" aria-expanded="false"
                  aria-controls="collapseForgotPassword-modal">
                  ¿Olvidaste la contraseña?
                </button>
                <button class="btn btn-credits btn-block mt-1 mb-1" data-toggle="collapse"
                  data-target=".collapseRegister-modal" aria-expanded="false" aria-controls="collapseRegister-modal">
                  Registrarse
                </button>
              </div>
            </div>
            <p class="policies m-0 pt-2">
              Al ingresar estarás aceptando la
              <a href="javascript:;" data-toggle="modal" data-target="#modalPoliticaTratamientoDatos">Autorización de
                tratamiento de datos</a>
              y las
              <a href="javascript:;" data-toggle="modal" data-target="#modalCondicionesUsoServicio">Condiciones de Uso
                del Servicio</a>
            </p>
          </div>
        </div>

        <div class="collapse collapseForgotPassword-modal">
          <div class="animate__animated animate__fadeIn animate__fast">
            <h3 class="card-title card-title-register">
              Reestablece tu contraseña
            </h3>
            <p class="card-text paragraph">
              Ingresa tu número de documento para restablecer tu contraseña.
            </p>
            <div class="login-content">
              <app-card-forgot-password
                (formForgotPasswordEmitter)="processFormForgotPassword($event)"></app-card-forgot-password>
              <div class="form-group">
                <button class="btn btn-outline-credits btn-block" data-toggle="collapse"
                  data-target=".collapseForgotPassword-modal" aria-expanded="false"
                  aria-controls="collapseForgotPassword-modal">
                  Volver
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="collapse collapseRegister-modal">
          <div class="animate__animated animate__fadeIn animate__fast">
            <h3 class="card-title card-title-register">Validar documento</h3>
            <p class="card-text paragraph">
              Ingresa el número de documento para iniciar el proceso de
              registro.
            </p>
            <div class="login-content">
              <app-card-register (formValidateEmitter)="processFormValidate($event)" (userEmitter)="processUser($event)"
                (preguntasEmitter)="processPreguntas($event)"></app-card-register>
              <div class="form-group">
                <button class="btn btn-outline-credits btn-block" data-toggle="collapse"
                  data-target=".collapseRegister-modal" aria-expanded="false" aria-controls="collapseRegister-modal">
                  Volver
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse collapseTipoDocumento-modal">
          <div class="animate__animated animate__fadeIn animate__fast">
            <h3 class="card-title card-title-register">Validar documento</h3>
            <p class="card-text paragraph">
              Ingresa los datos de la postulación
            </p>
            <div class="login-content">
              <app-card-tipo-documento></app-card-tipo-documento>
              <div class="form-group">
                <button class="btn btn-outline-credits btn-block" data-toggle="collapse"
                  data-target=".collapseTipoDocumento-modal" aria-expanded="false"
                  aria-controls="collapseTipoDocumento-modal">
                  Volver
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn-change-password btn btn-primary" data-toggle="modal"
  data-target="#modalPopupChangePasswordLabel">
  Change password
</button>

<div class="modal fade modal-popup-change-password" id="modalPopupChangePasswordLabel" tabindex="-1" role="dialog"
  aria-labelledby="modalPopupChangePasswordLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content">
      <div class="modal-header login-header" id="modalPopupChangePasswordLabel">
        <div class="col-md-11">
          <div class="d-flex align-items-center justify-content-center">
            <p class="m-0 pl-4 pr-2">Reestablece tu contraseña</p>
          </div>
        </div>
        <button type="button" class="close btn-close-popup-change-password" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pr-5 pl-5">
        <div class="animate__animated animate__fadeIn animate__fast">
          <div class="login-content">
            <app-card-change-password></app-card-change-password>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn-form-register btn btn-primary" data-toggle="modal" data-target="#modalFormRegister">
  Form Register
</button>

<div class="modal fade modal-form-register" id="modalFormRegister" tabindex="-1" role="dialog"
  aria-labelledby="modalPopupLoginLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content">
      <app-card-register-form [respuesta]="this.respuesta"></app-card-register-form>
    </div>
  </div>
</div>

<button type="button" class="btn-form-questions btn btn-primary" data-toggle="modal" data-target="#modalFormQuestions">
  Form questions
</button>
<div class="modal fade modal-form-questions" id="modalFormQuestions" tabindex="-1" role="dialog"
  aria-labelledby="modalPopupLoginLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content">
      <div class="modal-header login-header" id="modalPopupLoginLabel"
        style="background-color: #03a9f4; color: #fff; font-style: bold">
        <div class="col-md-11 text-center">
          <div class="d-flex align-items-center justify-content-center">
            <h4>
              <i class="far fa-list-alt"></i> Preguntas de validación de
              identidad
            </h4>
          </div>
        </div>
        <button type="button" class="close btn-close-form-questions text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pr-lg-5 pl-lg-5">
        <div class="col-12 text-center p-3" style="
            font-family: Ubuntu;
            color: #000;
            font-size: 17px;
            line-height: 35px;
          ">
          <p>
            Tu seguridad es importante para nosotros, responde las siguientes
            preguntas.
          </p>
        </div>
        <div class="animated fadeIn fast">
          <div class="login-content pl-5 pr-5 pt-1 pb-1">
            <app-card-questions (respuestaEmitter)="processRespuestas($event)" [user]="user"
              [preguntas]="preguntas"></app-card-questions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>