<header class="header-home cf-header">
  <div class="container position-relative">
    <div class="header-nav-top">
      <ul class="menu">
        <li>
          <a
            [href]="environment.personas"
            target="_blank"
            class="icon-persona empresa"
          >
            <span>Personas</span>
          </a>
        </li>
        <li>
          <a [href]="environment.empresas" target="_blank" class="icon-empresa">
            <span>Empresas</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="row d-flex justify-content-between cf-menu-md-responsive">
      <div class="col-md-12">
        <div class="bt-social-wrap text-right">
          <a
            data-icon="fab fa-facebook-square"
            [href]="environment.facebook"
            target="_blank"
          >
            <i class="fab fa-facebook-square"></i>
          </a>
          <a
            data-icon="fab fa-twitter"
            [href]="environment.twitter"
            target="_blank"
          >
            <i class="fab fa-twitter"></i>
          </a>
          <a
            data-icon="fab fa-instagram"
            [href]="environment.instagram"
            target="_blank"
          >
            <i class="fab fa-instagram"></i>
          </a>
          <a
            data-icon="fab fa-youtube"
            [href]="environment.youtube"
            target="_blank"
          >
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>

    <app-navbar></app-navbar>
  </div>
</header>
