section.fondo {
  background: url("/assets/img/login_background.png");
  background-size: cover;
}

.container2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 576px) {
  .container2 {
    max-width: 540px;
  }

  .text1 {
    background-color: #03a9f4;
    color: white;
    margin-top: 0;
  }
  .text2 {
    background-color: white;
  }
}

@media (min-width: 576px) {
  .container2 {
    max-width: 540px;
  }

  .text1 {
    background-color: #03a9f4;
    color: white;
    margin-top: 0;
  }
  .text2 {
    background-color: white;
  }
}

@media (min-width: 768px) {
  .container2 {
    max-width: 720px;
  }

  .text1 {
    background-color: #03a9f4;
    color: white;
  }
  .text2 {
    background-color: white;
  }
}

@media (min-width: 992px) {
  .container2 {
    max-width: 1100px;
  }

  .text1 {
    background-color: #03a9f4;
    color: white;
  }
  .text2 {
    background-color: white;
  }
}

@media (min-width: 1200px) {
  .container2 {
    max-width: 1300px;
  }

  .text1 {
    background-color: #03a9f4;
    color: white;
  }

  .text2 {
    background-color: white;
  }
}

.border {
  border-radius: 24px;
}

input.sinFlechas::-webkit-outer-spin-button,
input.sinFlechas::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
