<form
  class="form-login needs-validation"
  autocomplete="off"
  [formGroup]="formChangePassword"
  (ngSubmit)="changePassword()"
>
  <div class="form-group form-group-custom">
    <label class="m-0 mb-1">Contraseña</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      placeholder="* Contraseña"
      placement="right"
      [class.is-invalid]="getPassword"
    />
    <!-- <div
      *ngIf="getPassword"
      class="invalid-feedback animate__animated animate__fadeIn animate__fast"
    >
      <span class="badge badge-pill badge-danger d-block mt-2 text-left"
        >Debes ingresar una contraseña</span
      >
    </div> -->
    <div
      *ngIf="f.password.touched && f.password.errors?.minlength"
      class="invalid-feedback animate__animated animate__fadeIn animate__fast"
    >
      <span class="badge badge-pill badge-danger d-block mt-2 text-left"
        >DEBES INGRESAR MÍNIMO
        {{ f.password.errors.minlength.requiredLength }} CARACTERES</span
      >
    </div>
    <div
      *ngIf="f.password.errors?.passwordInvalida"
      class="invalid-feedback animated fadeIn fast"
    >
      <span
        class="badge badge-pill badge-danger d-block mt-2 pt-1 pb-1 pr-2 pl-2 text-left"
        >DEBE CONTENER UNA LETRA MAYÚSCULA, UNA MINÚSCULA, UN CARÁCTER ESPECIAL
        Y UN NÚMERO
      </span>
    </div>
  </div>
  <div class="form-group form-group-custom">
    <label class="m-0 mb-1">Confirmar contraseña</label>
    <input
      type="password"
      formControlName="confirmPassword"
      class="form-control"
      placeholder="* Confirmar contraseña"
      placement="right"
      [class.is-invalid]="getConfirmPassword"
      onpaste="return false"
      oncut="return false"
      oncopy="return false"
    />
    <div
      *ngIf="getConfirmPassword"
      class="invalid-feedback animate__animated animate__fadeIn animate__fast"
    >
      <span class="badge badge-pill badge-danger d-block mt-2 text-left"
        >DEBES CONFIRMAR TU CONTRASEÑA</span
      >
    </div>
    <div
      *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.minlength"
      class="invalid-feedback animate__animated animate__fadeIn animate__fast"
    >
      <span class="badge badge-pill badge-danger d-block mt-2 text-left"
        >DEBES INGRESAR MÍNIMO
        {{ f.confirmPassword.errors.minlength.requiredLength }} CARACTERES</span
      >
    </div>
    <div
      *ngIf="f.confirmPassword.touched && f.confirmPassword.errors"
      class="invalid-feedback animate__animated animate__fadeIn animate__fast"
    >
      <span class="badge badge-pill badge-danger d-block mt-2 text-left"
        >LA CONTRASEÑA NO COINCIDE</span
      >
    </div>
  </div>
  <div class="col-md-12 text-left pl-1">
    <div class="form-group">
      <small class="text-muted" style="font-size: 10px">
        * Los campos que tienen asterisco son obligatorios
      </small>
    </div>
  </div>
  <div class="form-group m-0">
    <button
      [disabled]="utilitiesService.loading"
      class="btn btn-credits btn-next btn-block mt-1 mb-3"
    >
      <span
        *ngIf="utilitiesService.loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Continuar
    </button>
  </div>
</form>
