
div.select-question-card{
    height: 80px !important;
    margin-bottom: 20px;
}

div.select-question-card select {
   
    background-color: #eeeeee;
    border-color: #cecece;
   /*  color: #666666; */
    border-radius: 25px;
    padding: 5px 20px;
    outline: 0px;
    font-family: Ubuntu, Poppins;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
}
 div.select-question-card label {
    font-size: 10pt;
    line-height: 20px;
    color: #666666;
}



 div.select-question-card select option {
    color: #8f8f8f;
    font-size: 16px;
    line-height: 18px;
}

 div.select-question-card select option:nth-child(odd) {
    background-color: #f2f2f2;
}

 div.select-question-card select option:nth-child(even) {
    background-color: #fff;
}

 div.select-question-card i {
    color: #00A4E7;
    position: absolute;
    bottom: 0em;
    padding: 7px;
    right: 1rem;
    pointer-events: none;
    width: 20px;
    height: 20px;
    display: block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


button.btn-questions {
  background-color: #00AEEF;
  border-color: #00AEEF;
  color: #fff;
  border-radius: 25px;
  outline: 0px;
  font-family: Ubuntu, Poppins;
  font-size: 14px;
  line-height: 30px;
  padding: 10px 20px;
  }
  
  button.btn-questions:hover {
    background-color: #fff;
    color: #04AEEF;
  }
  
  button.btn-outline-questions {
    background-color: #fff;
    border-color: #00AEEF;
    color: #00AEEF;
    border-radius: 25px;
    outline: 0px;
    font-family: Ubuntu, Poppins;
    font-size: 14px;
    line-height: 30px;
    padding: 10px 20px;
  }  
  button.btn-outline-questions:hover {
    background-color: #04AEEF;
    color: #fff;
  }
