<nav class="header-nav-ppal navbar navbar-expand-lg">
  <div>
    <a class="div-logo" [href]="environment.portalWeb">
      <img src="assets/img/logo.png" class="logo" alt="Logo confa" />
    </a>
    <a class="div-logo-alt" [href]="environment.portalWeb">
      <img src="assets/img/logo_reverse.png" class="logo" alt="Logo confa" />
    </a>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>

  <div
    class="menu-content collapse navbar-collapse"
    id="navbarSupportedContent"
  >
    <div class="menu d-flex justify-content-center">
      <ul class="navbar-nav">
        <!-- active -->
        <li class="nav-item">
          <a class="nav-link" [href]="environment.pagoDeAportes"
            ><span class="menu-item">Pago de Aportes</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="environment.acercaDeConfa"
            ><span class="menu-item">Acerca de Confa</span></a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="javascript:;"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="menu-item">Servicios</span>
          </a>
          <div
            class="dropdown-menu animate__animated animate__fadeIn animate__fast"
            aria-labelledby="navbarDropdown"
          >
            <div *ngFor="let service of environment.servicios">
              <a class="dropdown-item" [href]="service.linkServicio"
                ><span>{{ service.nombreServicio }}</span></a
              >
              <div class="dropdown-divider"></div> 
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="environment.contacto"
            ><span class="menu-item">Contacto</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="environment.viveConfa"
            ><span class="menu-item">Servicios en linea</span></a
          >
        </li>
        <li
          *ngIf="utilitiesService.currentUser && puedeIngresar"
          class="nav-item dropdown"
        >
          <a
            class="nav-link"
            href="javascript:;"
            (click)="irMiPerfilConfa()"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
          >
            <span class="btn-perfil">Mi perfil</span>
          </a>
        </li>
        <!-- <li
          *ngIf="!showButtons && !utilitiesService.currentUser"
          class="nav-item"
        >
          <a
            class="nav-link"
            href="javascript:;"
            data-toggle="modal"
            data-target="#modalPopupLogin"
            ><span class="btn-login">Iniciar sesión</span></a
          >
        </li>
        
        <li *ngIf="login" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="javascript:;"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="btn-login">{{
              getShortName(utilitiesService.fullNameUser) | titlecase
            }}</span>
          </a>
          <div
            class="dropdown-menu animate__animated animate__fadeIn animate__fast"
            aria-labelledby="navbarDropdown"
          >
            <button class="dropdown-item" (click)="logout()">
              <span>Cerrar sesión</span>
            </button>
          </div>
        </li> -->
        <!-- <li *ngIf="utilitiesService.currentUser" class="nav-item">
          <a class="nav-link" (click)="logout()"
            ><span class="btn-login">Cerrar sesión</span></a
          >
        </li> -->
      </ul>
    </div>
  </div>
</nav>
